name: Node.js Package

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - name: Intentional failure
        run: exit 1  # This step will always fail

  merged-test:
    needs: build
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name:
        if: |
          ${{
            github.event_name == 'pull_request' &&
            github.event.action == 'closed' &&
            github.event.pull_request.merged == true
          }}

        run: echo "PR merged job"